.spreadcard {
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    background-color: rgb(3, 3, 59);
    min-height: 300px;
    color: white;
    transition: background-color 0.3s ease;
}

.spreadcard:hover {
    background-color: rgb(169, 169, 214);
}   

.hidden{
    opacity: 0;
    transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}